.aws-btn {
  --button-default-height: 50px;
  --button-default-font-size: 30px;
  --button-default-border-radius: 7px;
  --button-horizontal-padding: 25px;
  --button-raise-level: 6px;
  --button-hover-pressure: 1;
  --transform-speed: 0.185s;
  --button-primary-color: #333;
  --button-primary-color-dark: #0c0c0f;
  --button-primary-color-light: #f1f1f4;
  --button-primary-color-hover: #292934;
  --button-primary-color-active: #22222c;
  --button-primary-border: none;
  --button-secondary-color: #fbfbfb;
  --button-secondary-color-dark: #3a3a3a;
  --button-secondary-color-light: #3a3a3a;
  --button-secondary-color-hover: #eeeeee;
  --button-secondary-color-active: #e2e2e2;
  --button-secondary-border: 2px solid #3a3a3a;
  --button-anchor-color: #ffe727;
  --button-anchor-color-dark: #212121;
  --button-anchor-color-light: #97735d;
  --button-anchor-color-hover: #ffe727;
  --button-anchor-color-active: #ffe727;
  --button-anchor-border: 2px solid #876753;
  --button-danger-color: #c42e2e;
  --button-danger-color-dark: #861f1f;
  --button-danger-color-light: #ffffff;
  --button-danger-color-hover: #bc2c2c;
  --button-danger-color-active: #af2929;
  --button-danger-border: none;
}
