.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: royalblue;
  color: white;
  font-size: 30px;
}

.header {
  padding: 60px;
  text-align: center;
  background: royalblue;
  color: white;
  font-size: 30px;
}

.bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.barElement {
  display: inline;
  padding: 20px;
}

.flexbox {
  display: flex;
  justify-content: space-between;
}

/* Not used as much */
.button {
  background-color: #555555; /* Black */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  display: inline-block;
  font-size: 14px;
}

.answer {
  padding: 15px 32px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  border-radius: 25px;
}

/* This is used in dividing the buttons */
.divider {
  width: 10px;
  height: auto;
  display: inline-block;
}

/* Text input boxes */
.input {
  font-size: 14px;
  border-radius: 6px;
  line-height: 1.5;
  padding: 5px 10px;
  transition: box-shadow 100ms ease-in, border 100ms ease-in,
    background-color 100ms ease-in;
  border: 2px solid #dee1e2;
  color: rgb(14, 14, 16);
  background: #dee1e2;
  display: block;
  height: 36px;
  width: 400px;
  text-align: left;
}

.input:hover {
  border-color: #ccc;
}
.input:focus {
  border-color: #9147ff;
  background: #fff;
}
