.coursetile {
  border: 2px solid black;
  width: 100%;
  background-color: powderblue;
  margin: auto;
  padding: 20px;
  text-align: center;
  color: black;
}

.li {
  list-style-type: none;
  text-align: left;
  font-size: 15px;
}
