.coursetile {
  border: 2px solid black;
  width: 100%;
  background-color: #333;
  margin: auto;
  padding: 20px;
  text-align: center;
  color: white;
  border-radius: 15px;
}

.li {
  list-style-type: none;
  text-align: left;
  font-size: 18px;
}

.newcourse {
  border: 4px solid black;
  width: 25%;
  background-color: lightyellow;
  margin: auto;
  padding: 20px;
  color: black;
}

.remove {
  float: right;
}
